<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="content">
        <h1><span class="highlight">O</span>UR VISI<span class="highlight">O</span>N</h1>
        <p class="vision">Keeping up with the modern concept of a zoo which is more of an educational and conservation-based visitor centre, which provides an opportunity to see the animals close to its natural state, the Zoocity Zoo was designed with a unique taste of architecture and complete with immerse exhibits.</p>
        <h2><span class="highlight">O</span>UR MISSI<span class="highlight">O</span>N</h2>
        <p class="mission">
            The Zoocity will empower our guests to respect, value and care for our natural resources, as we commit to contributing globally to the conservation and preservation of wildlife. We will provide innovative and creative solutions through collaboration, practices and partnerships. The continued growth and development of the Zoo will further enhance its attraction to visitors outside the local community enabling us to bring national and international attention to the importance and ongoing efforts of wildlife sustainability..<br>🟢💚🟢
        </p>
        <div class="social-medias">
          <img src="./assets/sm1.png" width="30" height="30" alt="Twitter">
          <img src="./assets/sm2.png" width="30" height="30" alt="Instagram">
          <img src="./assets/sm3.png" width="30" height="30" alt="Youtube">
          <img src="./assets/sm4.png" width="30" height="30" alt="Facebook">
        </div>
      </div>
</body>