body{
    margin-inline: 10%;
    margin-top: 1%;
}
  
table {
    border: 1px solid #27ba88;
    text-align: center;
    border-collapse:collapse;
    position: absolute;
    color: white;
    width: 100%;
}

th {
    width: 10px;
    color: #27ba88;
}

td {
    color: white;
    font-size: larger;
}