body {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
  
table {
    border: solid 1px #000;
    padding: 10px;
}

th {
    border: solid 1px #000;
    padding: 10px;
}

td {
    border: solid 1px #000;
    padding: 10px;
}
  
table {
      border-collapse:collapse;
      caption-side:bottom;
      position: absolute;
      color: white;
}