<head>
    <title>View all</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="card">
      <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Specie</th>
              <th>Subspecie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animalList">
              <th>{{animal.aid}}</th>
              <td>{{animal.aname}}</td>
              <td>{{animal.age}}</td>
              <td>{{animal.gender}}</td>
              <td>{{animal.category}}</td>
              <td>{{animal.subspecie}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</body>

