<div class="operation">
    <button type="button" class="btn1" routerLink="/animal-operation/add-animal">Add Animal</button>
    <button type="button" class="btn2" routerLink="/animal-operation/view-animal">Find Animal</button>
    <button type="button" class="btn3" routerLink="/animal-operation/edit-animal">Edit Animals</button>
    <button type="button" class="btn4" routerLink="/animal-operation/view-all-animal">View All</button>
</div>

<!--<app-add-animal></app-add-animal>-->
<router-outlet></router-outlet>

<!--<button class="clickBtn" (click)="show=!show" >Click me</button>-->