<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="dash-1">
        <div class="col-div">
            <div class="box">
                <p>67<br><span>Elephants</span></p>
            </div>
        </div>
        <div class="col-div">
            <div class="box">
                <p>50<br><span>Tigers</span></p>
            </div>
        </div>
        <div class="col-div">
            <div class="box">
                <p>10<br><span>Lions</span></p>
            </div>
        </div>
        <div class="col-div">
            <div class="box">
                <p>100<br><span>Birds</span></p>
            </div>
        </div>
    </div>
    <div class="dash-2">
        <div class="box-2">
            <p>Most Popular Animals <span class="star">⭐</span></p> <br>
            <table>
                <tr>
                    <th>NAME</th>
                    <th>SPECIE</th>
                    <th>RATING</th>
                </tr>
                <tr>
                    <td>Rex</td>
                    <td>Tiger</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>Hazel</td>
                    <td>Elephant</td>
                    <td>4.9</td>
                </tr>
                <tr>
                    <td>Linkee</td>
                    <td>Parrot</td>
                    <td>4.8</td>
                </tr>
            </table>
        </div>
        <div class="box-3">
            <p>$<span class="worth">10M</span></p> <br> <p>Average monthly income for 2021.</p>
        </div>
    </div>
</body>