.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    margin-top: 80px;
}

.highlight{
    color: #27ba88;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.social-medias img{
    margin: 0 5px;
    transition: 0.4s;
}

.social-medias img:hover{
    background-color: #27ba88;
    transform: scale(1.1);
}